testchecker
Modularity/.vs/Modularity/v16/.suo
Modularity/.vs/Modularity/v16/Browse.VC.db
Modularity/.vs/Modularity/v16/Browse.VC.db-shm
Modularity/.vs/Modularity/v16/Browse.VC.db-wal
Modularity/.vs/Modularity/v16/Browse.VC.opendb
Modularity/.vs/Modularity/v16/ipch/AutoPCH/6ff46dec51c9fdcd/MAIN.ipch
Modularity/.vs/Modularity/v16/ipch/AutoPCH/d3771e03e9401cbc/COLORCODERTEST.ipch
Modularity/.vs/Modularity/v16/ipch/AutoPCH/fc60393e57492835/TELECOMMCOLORCODER.ipch
Modularity/Debug/Project1.exe
Modularity/Debug/Project1.ilk
Modularity/Debug/Project1.pdb
Modularity/Modularity.sln
Modularity/Project1/Debug/ColorCoderTest.obj
Modularity/Project1/Debug/main.obj
Modularity/Project1/Debug/Project1.exe.recipe
Modularity/Project1/Debug/Project1.log
Modularity/Project1/Debug/Project1.tlog/CL.command.1.tlog
Modularity/Project1/Debug/Project1.tlog/CL.read.1.tlog
Modularity/Project1/Debug/Project1.tlog/CL.write.1.tlog
Modularity/Project1/Debug/Project1.tlog/link.command.1.tlog
Modularity/Project1/Debug/Project1.tlog/link.read.1.tlog
Modularity/Project1/Debug/Project1.tlog/link.write.1.tlog
Modularity/Project1/Debug/Project1.tlog/Project1.lastbuildstate
Modularity/Project1/Debug/vc142.idb
Modularity/Project1/Debug/vc142.pdb
Modularity/Project1/Project1.vcxproj
Modularity/Project1/Project1.vcxproj.filters
Modularity/Project1/Project1.vcxproj.user
Modularity/.vs/Modularity/v16/ipch/AutoPCH/fb3e95f442daaef4/TELECOMMCOLORCODER.ipch
Modularity/Project1/Debug/TeleCommColorCoder.obj
